<div class="container">
  <span class="name">{{sitter.profile.user | fullName}}</span>
  <span class="bio">{{sitter.profile.bio}}</span>
  <span class="address">{{sitter.profile.contact | address | translate}}</span>
  <span class="reviews">
    <mat-icon>grade</mat-icon>
    TODO: Reviews count
  </span>
  <span class="verified" *ngIf="sitter.profile.user.is_verified">
    <mat-icon>verified</mat-icon>
    {{'label.user.verified' | translate}}
  </span>
  <mat-divider></mat-divider>
  <div class="contact">
    <span class="title">{{'label.contact' | translate}}</span>
    <span class="email">
        <mat-icon>email</mat-icon>
      {{sitter.profile.user.email}}
    </span>
    <span class="whatsapp">
      <mat-icon>whatsapp</mat-icon>
      {{sitter.profile.contact.whatsapp_number}}
    </span>
    <span class="phone">
      <mat-icon>phone</mat-icon>
      {{sitter.profile.contact.phone_number}}
    </span>
  </div>
</div>
