<h2 class="title">{{"form.contact.title" | translate}}</h2>
<!--<div class="content">-->
<!--  <app-my-profile-form-->
<!--    [profile]="user$ | async"-->
<!--    [pending]="(pending$ | async)!"-->
<!--    (formSubmitted)="updateProfile($event)"-->
<!--    [errors]="error$"></app-my-profile-form>-->
<!--  <app-my-profile-avatar-->
<!--    [profile]="user$ | async"-->
<!--    [pending]="(avatarPending$ | async)!"-->
<!--    (profilePic)="updateProfilePicture($event)"></app-my-profile-avatar>-->
<!--</div>-->
