<div class="container">
  <input accept="image/png, image/jpeg" #imageInput hidden type="file" id="avatar" name="avatar"
         (change)="handleFileInput($event)">
  <button petpal-button secondary
          [pending]="pending"
          class="edit-btn"
          (click)="imageInput.click()">
    {{'button.edit_photo' | translate}}
  </button>
  <app-header-avatar (click)="imageInput.click()" [imgSrc]="profile?.user?.avatar"
                     [initials]="profile?.user | initials"></app-header-avatar>
</div>
<mat-error *ngIf="error" class="file-error">
  {{error}}
</mat-error>
