<div [matMenuTriggerFor]="avatarMenu">
  <app-header-avatar class="avatar" [imgSrc]="user?.avatar" [initials]="user | initials"></app-header-avatar>
</div>

<mat-menu #avatarMenu="matMenu" class="avatar-menu" xPosition="before">
  <div class="account-info">
    <app-header-avatar [imgSrc]="user?.avatar" [initials]="user | initials"></app-header-avatar>
    <span class="full-name">{{user | fullName}}</span>
    <span class="username">{{user?.username}}</span>
    <span class="email">{{user?.email}}</span>
    <button petpal-button secondary
            routerLink="/settings">
      <span>Manage account</span>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="logout">
    <button petpal-button secondary (click)="logoutClick()">
      <span>Logout</span>
    </button>
  </div>
</mat-menu>
