<div [matMenuTriggerFor]="avatarMenu">
  <app-header-avatar class="avatar" [imgSrc]="profile?.avatar" [initials]="profile?.user | initials"></app-header-avatar>
</div>

<mat-menu #avatarMenu="matMenu" class="avatar-menu" xPosition="before">
  <div class="account-info">
    <app-header-avatar [imgSrc]="profile?.avatar" [initials]="profile?.user | initials"></app-header-avatar>
    <span class="full-name">{{profile?.user | fullName}}</span>
    <span class="username">{{profile?.user?.username}}</span>
    <span class="email">{{profile?.user?.email}}</span>
    <button petpal-button secondary
            routerLink="/settings">
      {{'button.manage_account' | translate}}
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="logout">
    <button petpal-button secondary (click)="logoutClick()">
      <span>{{'button.logout' | translate}}</span>
    </button>
  </div>
</mat-menu>
