@use '../../../../styles/ui';

.avatar {
  height: 54px;
  width: 54px;
  font-size: 20px;
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px 16px 8px;
  text-align: center;

  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  button {
    margin-top: 16px;
    height: 32px;
  }

  app-header-avatar {
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 80px;
    width: 80px;
    cursor: default;
  }

  .full-name {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
  }

  .username {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
  }

  .email {
    color: ui.$header-avatar-menu-email;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

::ng-deep {
  &.avatar-menu {
    display: flex;
    justify-content: center;
    width: 350px;
    background-color: ui.$card-background;

    .mat-menu-content {
      width: 100%;
    }

    mat-divider {
      border-top-color: rgba(0, 0, 0, .12) !important;
    }
  }
}

.logout {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    margin-top: 16px;
    height: 32px;
  }
}
