<i class="logo"></i>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Login</mat-label>
    <input formControlName="email" matInput autocomplete="off">
    <mat-error>
      <app-form-field-errors [control]="email"></app-form-field-errors>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password"
           matInput
           [type]="hidePassword ? 'password' : 'text'"
           autocomplete="off">
    <button type="button"
            mat-icon-button matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
      <app-form-field-errors [control]="password"></app-form-field-errors>
    </mat-error>
  </mat-form-field>

  <button type="submit"
          [disabled]="form.invalid || pending"
          [pending]="pending"
          petpal-button primary>Login
  </button>
</form>
<div class="sing-up-container">
  <span>Don't have an account?</span>
  <button routerLink="/auth/register" petpal-button tertiary-link>Create one</button>
</div>
