/* You can add global styles to this file, and also import other style files */
@use './styles/ui';

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: ui.$main-background;
  color: ui.$main-text;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
