/* You can add global styles to this file, and also import other style files */
@use './styles/ui';
@use './styles/notifications';
@use './styles/modals';

@import '~ngx-bar-rating/themes/br-default-theme';


html {
  height: 100%;
}

body {
  margin: 0;
  background-color: ui.$main-background;
  color: ui.$main-text;
  font-family: "Segoe UI", sans-serif !important;
}

@include notifications.notificationStyle;
@include modals.modalStyles;
