@use '../../../../styles/ui';
@use '../../../../styles/stepper';

@include stepper.stepper-style;

:host{
  padding: 24px 16px;
  font-family: ui.$main-font;
}

.form-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 8px;
  }

  .form-description {
    color: ui.$form-description;
    text-align: center;
  }

}

mat-stepper{
  max-width: 1012px;
  margin: auto;
}


