@use '../../../../styles/inputs';
@use '../../../../styles/ui';

@include inputs.input-styles;

:host {
  display: block;
}

.bio-field {
  min-height: 140px;
}

.submit-btn {
  height: 32px;
  font-size: 14px;

  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: ui.$spinner-secondary;
  }

}
