<form [formGroup]="form" (submit)="onSubmit()" class="example-form">
  <div formGroupName="user">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'label.first_name' | translate}}</mat-label>
      <input formControlName="first_name" matInput>
      <mat-error>
        <app-form-field-errors [control]="firstName"></app-form-field-errors>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'label.last_name' | translate}}</mat-label>
      <input formControlName="last_name" matInput>
      <mat-error>
        <app-form-field-errors [control]="lastName"></app-form-field-errors>
      </mat-error>
    </mat-form-field>
  </div>
  <!--  DISPLAY ONLY -->
  <mat-form-field class=" full-width" appearance="outline">
    <mat-label>{{'label.username' | translate}}</mat-label>
    <input [value]="profile?.user?.username" matInput disabled>
  </mat-form-field>

  <!--  DISPLAY ONLY -->
  <mat-form-field class=" full-width" appearance="outline">
    <mat-label>{{'label.email' | translate}}</mat-label>
    <input [value]="profile?.user?.email" matInput disabled>
  </mat-form-field>

  <mat-form-field class=" full-width" appearance="outline">
    <mat-label>{{'label.bio' | translate}}</mat-label>
    <textarea #bioInput class="bio-field" matInput formControlName="bio"></textarea>
    <mat-error>
      <app-form-field-errors [control]="bio"></app-form-field-errors>
    </mat-error>
    <mat-hint align="end">{{bioInput.value?.length || 0}}/255</mat-hint>
  </mat-form-field>

  <button petpal-button
          primary
          type="submit"
          class="submit-btn"
          [disabled]="!form.valid || pending"
          [pending]="pending">
      {{'button.update_profile' | translate}}
  </button>
</form>
