@use '../../../../../styles/ui';


:host {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  align-items: center;
  margin-top: 16px;
}

app-header-avatar {
  font-size: 40px;
  width: 200px;
  height: 200px;
}

.container {
  position: relative;
}

.edit-btn {
  position: absolute;
  bottom: 8px;
  height: 28px;
  font-size: 13px;

  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: ui.$spinner-primary;
  }
}
