<app-banner>
  <span heading>{{'label.page.sitters.title' | translate}}</span>
  <span description>{{'label.page.sitters.description' | translate}}</span>
  <button buttons petpal-button tertiary call-to-action
          (click)="navigateToBecomeSitter()">{{'button.become_petsitter' | translate}}</button>
</app-banner>
<div class="content">
  <span class="heading">{{'label.sitters' | translate}}</span>
  <app-sitter-list-filters></app-sitter-list-filters>
  <app-sitter-list [sitters]="(sitters$ | async)!"></app-sitter-list>
  <app-pagination-switch [paginationParams]="(paginationParams$ | async)!"
                         (paginationChanged)="changePagination($event)">
  </app-pagination-switch>
</div>
