@use '../../../../styles/ui';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.avatar-initials {
  background-color: ui.$header-initials-background;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: ui.$header-initials-text;
}

.photo {
  background-color: transparent;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

