<form [formGroup]="form" (submit)="onSubmit()" class="example-form">
  <div class="container">
    <div class="left">
      <!--DISPLAY ONLY-->
      <!--BIO-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{'label.bio' | translate}}</mat-label>
        <textarea #bioInput class="bio-field"
                  [value]="profile?.bio" matInput disabled></textarea>
        <mat-hint align="end">{{bioInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>

      <!--MOTIVATION-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{'label.motivation' | translate}}</mat-label>
        <textarea #motivationInput class="motivation-field" matInput formControlName="motivation"></textarea>
        <mat-error>
          <app-form-field-errors [control]="motivation"></app-form-field-errors>
        </mat-error>
        <mat-hint align="end">{{motivationInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
    </div>
    <div class="right">
      <!--PETS-->
      <div class="pet-chips-container">
        <div class="title-container">
          <h4 class="title">{{'label.experience.title' | translate}}</h4>
          <h5 class="description">{{'label.experience.animals.description' | translate}}</h5>
        </div>
        <div>
          <mat-chip-list selectable multiple class="pets-field" formControlName="pets">
            <mat-chip #c="matChip" *ngFor="let option of petOptions"
                      [value]="option.value"
                      (click)="toggleSelection(c,option.value)">
              <!--          TODO: actual icons of pets-->
              <mat-icon>person</mat-icon>
              {{option.label | translate}}
            </mat-chip>
          </mat-chip-list>
          <mat-error *ngIf="pets?.touched">
            <app-form-field-errors [control]="pets"></app-form-field-errors>
          </mat-error>
        </div>
      </div>
      <!--EXPERIENCE-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{'label.experience' | translate}}</mat-label>
        <textarea #experienceInput
                  class="experience-field" matInput
                  formControlName="experience"></textarea>
        <mat-error>
          <app-form-field-errors [control]="experience"></app-form-field-errors>
        </mat-error>
        <mat-hint align="end">{{experienceInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button petpal-button
            primary
            type="submit"
            class="submit-btn"
            [disabled]="!form.valid">
      {{'button.next' | translate}}
    </button>
  </div>
</form>
