@use '../../../../styles/ui';

nav {
  display: flex;
  flex-direction: column;
  border: 1px solid ui.$header-border;
  border-bottom: 0;
  border-radius: 6px;
  background-color: ui.$card-background;
}

.nav-item {
  display: block;
  position: relative;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid ui.$header-border;
  font-size: 14px;
  line-height: 2;
  color: ui.$main-text;

  &:hover {
    background-color: #F4F6F8;
  }

  &.disabled {
    color: ui.$header-link-disabled;
    pointer-events: none;
    cursor: default;
    position: relative;
    &:after {
      position: absolute;
      top: 24px;
      right: 4px;
      content: 'Coming soon';
      color: ui.$main-text;
      font-size: 14px;
      text-align: center;
      line-height: 1;
      padding: 0 4px;

      border-radius: 4px;
      width: 96px;
      height: 16px;
      background: ui.$warning;
    }
  }

  &.active {
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: ui.$header-link-active-underline;
    }
  }

}
