@use '../../../../styles/ui';

.container{
  display: flex;
  justify-content: center;
  align-items: center;

  button{
    margin-top: 64px;
  }
}

.title{
  border-bottom: 1px solid ui.$header-border;
  margin: 0;
  line-height: 24px;
  padding-bottom: 8px;
}
