<app-banner>
  <span heading>{{'label.page.community.title' | translate}}</span>
  <span description>{{'label.page.community.description' | translate}}</span>
  <button buttons petpal-button tertiary call-to-action (click)="navigateToRegister()">{{'button.register_to_join' | translate}}</button>
</app-banner>
<div class="content">
  <span class="heading">{{'label.profiles' | translate}}</span>
  <app-profile-list [profiles]="(profiles$ | async)!"></app-profile-list>
  <app-pagination-switch [paginationParams]="(paginationParams$ | async)!"
                         (paginationChanged)="changePagination($event)">
  </app-pagination-switch>
</div>
