app-banner{
  //background-size: cover;
  background: url("../../../assets/photos/doggo6.jpg");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 100%;

}

.content{
  display: block;
  max-width: 1012px;
  margin: auto;
}
