@use '../../../../../../styles/ui';
@use '../../../../../../styles/mat-chip';
@use '../../../../../../styles/date-picker';

@include date-picker.date-picker-styles-material;
@include mat-chip.chip-styles;

:host {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.heading {
  display: flex;
  margin-bottom: 16px;

  .title {
    display: block;
    font-size: 24px;
    font-weight: 500;
  }

  mat-spinner {
    margin-left: 8px;
  }
  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: ui.$spinner-primary;
  }
}


.content {
  text-align: justify;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
}
