:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px 16px;
  padding: 24px 24px 0;
}

app-header-avatar {
  width: 50%;
  margin-bottom: 32px;
}

.calendar {
  width: 60%;
}

.reviews-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 16px;

  app-pagination-switch {
    width: auto;
  }

}
