@use './inputs';
@use './ui';

@include inputs.input-styles;

@mixin auth-form {
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    border: 1px solid ui.$card-border;
    border-radius: 6px;
    box-shadow: 0 3px 12px ui.$card-shadow;
    background-color: ui.$card-background;
    padding: 32px;

    form {

      button {
        margin-top: 8px;
      }
    }

    .form-title-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .form-title {
        text-align: left;
        font-size: 28px;
        margin-bottom: 4px;
      }

      .form-description {
        color: ui.$form-description;
        text-align: left;
      }

    }

  }
}
