@use './inputs';
@use './buttons';
@use './ui';

@include buttons.buttonStyles;
@include inputs.input-styles;

@mixin auth-form {
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    border: 1px solid ui.$card-border;
    border-radius: 6px;
    box-shadow: 0 3px 12px ui.$card-shadow;
    background-color: ui.$card-background;
    padding: 32px;

    form {

      button {
        margin-top: 8px;
      }
    }

    .form-title {
      text-align: center;
      margin: 16px 16px 0 16px;
    }

    .form-description {
      color: ui.$form-description;
      margin: 8px 16px;
      text-align: center;
    }
  }
}
