$white: #FFFFFF;
$white-1: #FBFBFB;
$white-2: #F6F6F6;
$white-3: #DFDFDF;
$dirty-white: #B3B8AA;

$grey: #A8A8A8;
$grey-1: #707070;
$grey-2: #324647;
$grey-3: #232222;
$grey-4: #0000001A;
$santas-grey: #9796A0;
$havana: #2e2c42;

$black: #172020;

//$midnight-green-eagle: #104F55;
$myrtle-green: #007b7d;
$cambridge-blue: #409C9E;
//$myrtle-green: #32746D;
//$cambridge-blue: #5B908A;


$red: #C84928;
$red-2: #ED6C4B;

$cerise-red: #e12a50;
$cerise-red-2: #E44365;

$green: #A6CA56;
$green-1: #8DB438;

$yellow: #FFD000;
$orange: #FB991A;
