<div class="pending" *ngIf="pending$ |async; else viewBlock">
  <mat-spinner diameter="48"></mat-spinner>
</div>
<ng-template #viewBlock>
  <div class="header">
    <button routerLink="/pet-sitters" petpal-button tertiary-link>
      {{"button.back_to_sitters" | translate}}
    </button>
  </div>
  <div class="content">
    <app-sitter-info
      [sitter]="sitter$ | async"
      [reviews]="(reviews$ | async)!"
      [isLoggedIn]="(isLoggedIn$ | async)!"
      [reviewPending]="(reviewsPending$ | async)!"
      [pagination]="(reviewsPagination$ | async)!"
      (paginationChanged)="dispatchPagination($event)"
    ></app-sitter-info>
    <app-sitter-profile-info-card
      [isLoggedIn]="(isLoggedIn$ | async)!"
      [sitter]="sitter$ | async"></app-sitter-profile-info-card>
  </div>
</ng-template>
