@use "../../../styles/ui";
@use "../../../styles/buttons";

@include buttons.buttonStyles;

:host {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
  border-bottom: 1px ui.$header-border solid;
  z-index: 10;
  background-color: ui.$card-background;

  .left-part, .right-part {
    display: flex;
    align-items: center;
  }

  .logo{
    //margin-right: 16px;
    width: 160px;
    height: 64px;
    background: url("../../../assets/photos/PetPal_short.png") no-repeat left;
    background-size: 90% ;
  }
}
